{% extends "base.html" %} {% block title %}Login{% endblock %} {% block
html_head %} {% endblock %} {% block content %}
<div class="column is-6 is-offset-3">
  <div id="message">{{request.response}}</div>

  <form class="box is-rounded" id="form" method="post" action="/auth/jwt/login">
    <h3 class="title has-text-black">Login</h3>
    <hr class="login-hr" />

    <div class="field">
      <div class="control has-icons-left">
        <input
          class="input is-large is-rounded"
          name="username"
          type="email"
          placeholder="Email"
          required=""
          autofocus=""
        />
        <span class="icon is-small is-left">
          <i class="fa fa-envelope"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <p class="control has-icons-left">
        <input
          class="input is-large is-rounded"
          name="password"
          type="password"
          placeholder="Password"
          required=""
        />
        <span class="icon is-left"><i class="fa fa-key"></i></span>
      </p>
    </div>

    <div class="field has-addons">
      <p class="control">
        <a class="button is-static is-large">
          <img
            width="250"
            height="100"
            src="https://fastapi-admin-pro.long2ice.io/admin/captcha?width=200"
            alt="captcha"
            id="captcha"
          />
        </a>
      </p>
      <p class="control has-icons-left">
        <input
          class="input is-large"
          required=""
          placeholder="Enter captcha"
          name="captcha"
          type="text"
          autocomplete="off"
        />
        <span class="icon is-left"><i class="fa fa-shield-alt"></i></span>
      </p>
    </div>

    <div class="field has-addons">
      <p class="control">
        <button class="button is-large">Login</button>
      </p>
    </div>
  </form>

  <div class="field has-addons">
    <p class="control">
      <a href="/auth/register" class="button">Register</a>
    </p>
    <p class="control">
      <a href="/auth/reset-password" class="button">Reset Password</a>
    </p>
  </div>
</div>

{% endblock %} {% block js %}
<script src="{{ url_for('res', path='js/post-www.js') }}"></script>
{% endblock %}
